/* share style */

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.text-item{
    color: #8987A1;
}
.black{
    color: black;
}
.home{
    height: 46px;
    width: 24px;
}
.shop{
    height: 39px;
    width: 24px;
}
.about{
    height: 73px;
    width: 24px;
}
.btn-flw{
    height: 50px;
    width: 270px;
    padding: 19px 80px 19px 80px;
    background-color: #E95A08;
    color: white;
    border: none;
}
.usd-p{
    font-weight: bold;
    font-size: 20px;
    
}
.pdt-name{
    font-size: 22px;
    font-weight: 600;
    font-family: inter;
}
.hide{
    display: none;
}


/* navbar related */

.navbar{

    height: 71px;
    width: 1140px;
     justify-content: space-around;
     margin: 30px 150px 120px 150px;
     gap: 590px;    

}
.nav-item{
    list-style: none;
    margin-right: 48px;
    font-weight: 400px;
    margin: 0;
    padding: 0;
}

.nav-link{
    /* display: flex; */
    gap: 10px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    height: 60px;
    width: 415px;
    gap: 20px;
     
}

.cart-icon {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
}

.cart-text{
    font-family: medium;
     height: 24px;
    width: 79px;
    font-size: 600;
    margin: 10px;
    
    

}
.fa-cart-shopping{
    margin: 10px;
    height: 24px;
    width: 24px;
    
    

}
/* Banar */
.banar{
 padding: 120px 150px 120px 150px;
 margin-top: 120px;
 align-items: end;
}
.banar-title{
    font-size: 65px;
    font-weight: bold;
    color: #000000;
    margin: 0 13px;
    font-family: Noto Serif;
}
.title-fash{
    color: #E95A08;
}
.banar-dsc{
    margin: 0 150px ;
    height: 108px;
    width: 570px;
    font-size: 22px;
    font-family: inter;
    margin-top: 10px;
    margin-left: 15px;
   
}



/* Flower */
.card{
   height: 68px;
    width: 1140px;
    font-size: 50px;
    font-weight: bold;
    margin: 120px 650px 16px 650px;
}
.dsc-item{
    font-size: 22px;
    font-weight: 300px;
    width: 888px;
    text-align: center;
    height: 54px;
    margin: 16px 276px 48px 276px;
    
}
/* flower cart */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
}


.flower{
    width: 100%;
    padding: 20px;
    text-align: center;


}

/* flowerman */
.flowerman-container{
    gap: 60px;
    margin: 210px 150px 130px 210px;
    
}

.flower-img{
    height: 597px;
    width: 540px;

}

.img-title{
        font-size: 50px;
        font-weight: bold;
        height: 137px;
        width: 540px;
        margin-bottom: 20px;

}
.img-dsc{
    gap: 20px;
}

.image-dsc{
    font-size: 22px;
    font-weight: 200px;
    color: #7c7979;
    margin: 0 auto;
}

/* Background flower */
.backgound-h{
    font-size: 50px;
    font-weight: bold;
    color: rgb(248, 244, 244);
    height: 68px;
    width: 586px;
    margin: 0 auto;
    
    

}
input[type="email"]{
    height: 50px;
    width: 644px;
    margin-top: 25px;
}


.background-container{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    padding: 199px 305px 199px 305px;
    background-repeat: no-repeat;   
}
.flower-b{
    display: flex;
   
}

.folower-btn{
    margin-top:28px;
}

.footer-container{
}
    
.footer-dsc{
    font-size: 22px;
    font-weight: 300;
    height: 89px;
    width: 359px;
}


.text-about{
    text-decoration: none;
    grid-template-columns: repeat(2, 1fr);
    
}
.text-home{
    list-style: none;
}


.footer-container{
    display: flex;
    margin: 50px 160px 50px 160px;
    gap: 150px;
}

.icon-img a {
    margin-right: 24px;
    display: inline-block;
}

.icon{
    gap: 24px;

}

.footer-links-flex{
    display: flex;
    gap: 40px;
    margin: 0 50px;
}
.footer-links-flex div p {
    margin: 26px 0;
    margin-bottom: 32px;

    

}

/* Mobaile */
@media screen and (max-width:576px;), (min-width:932px;) {
    body{
        width: 1440px;
    }
    
}






